{% extends 'base.html' %}

{% block header %}
	<h1>{% block title %}Register{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
	<h2>Personal Info</h2>
	<label for="username">Name</label>
	<input name="username" id="username" required>
	<br>

	<label for="address">Address</label>
	<input type="address" name="address" id="address">
	<br>

	<div class="form-row">
		<label for="city">City</label>
		<input type="text" id="city" name="city">
		<label for="state">State:</label>
		<select name="state" id="state">
			<option value="None">--select a state--</option>
			<option value="AL">AL</option>
			<option value="AK">AK</option>
			<option value="AZ">AZ</option>
			<option value="AR">AR</option>
			<option value="CA">CA</option>
			<option value="CO">CO</option>
			<option value="CT">CT</option>
			<option value="DE">DE</option>
			<option value="FL">FL</option>
			<option value="GA">GA</option>
			<option value="HI">HI</option>
			<option value="ID">ID</option>
			<option value="IL">IL</option>
			<option value="IN">IN</option>
			<option value="IA">IA</option>
			<option value="KS">KS</option>
			<option value="KY">KY</option>
			<option value="LA">LA</option>
			<option value="ME">ME</option>
			<option value="MD">MD</option>
			<option value="MA">MA</option>
			<option value="MI">MI</option>
			<option value="MN">MN</option>
			<option value="MS">MS</option>
			<option value="MO">MO</option>
			<option value="MT">MT</option>
			<option value="NE">NE</option>
			<option value="NV">NV</option>
			<option value="NH">NH</option>
			<option value="NJ">NJ</option>
			<option value="NM">NM</option>
			<option value="NY">NY</option>
			<option value="NC">NC</option>
			<option value="ND">ND</option>
			<option value="OH">OH</option>
			<option value="OK">OK</option>
			<option value="OR">OR</option>
			<option value="PA">PA</option>
			<option value="RI">RI</option>
			<option value="SC">SC</option>
			<option value="SD">SD</option>
			<option value="TN">TN</option>
			<option value="TX">TX</option>
			<option value="UT">UT</option>
			<option value="VT">VT</option>
			<option value="VA">VA</option>
			<option value="WA">WA</option>
			<option value="WV">WV</option>
			<option value="WI">WI</option>
			<option value="WY">WY</option>
		</select>
	</div>
	<br>

	<label for="zip">ZIP</label>
	<input type="zip" name="zip" id="zip">
	<br>

	<label for="home_phone">Home Phone</label>
	<input type="home_phone" name="home_phone" id="home_phone">
	<br>

	<label for="occupation">Occupation</label>
	<input type="occupation" name="occupation" id="occupation">
	<br>

	<label for="employer">Employer</label>
	<input type="employer" name="employer" id="employer">
	<br>

	<label for="cell_phone">Cell Phone</label>
	<input type="cell_phone" name="cell_phone" id="cell_phone">
	<br>

	<label for="email">Email</label>
	<input type="email" name="email" id="email">
	<br>

	<label for="dob">Date of Birth</label>
	<input type="dob" name="dob" id="dob">
	<br>

	<div class="form-row">
		<label for="availability">Availability</label>
		<select name="availability" id="availability">
			<option value="1_hour">1 hour per week</option>
			<option value="2_hour">2 hours per week</option>
			<option value="3_hour">3-4 hours per week</option>
			<option value="5_hour">5 hours or more per week</option>
		</select>
	</div>
	<br>

	<div class="form-row">
		<label for="location">Preferred Location</label>
		<select name="location" id="location">
			<option value="edwins">EDWINS</option>
			<option value="home">Home</option>
			<option value="no_preference">No preference</option>
		</select>
	</div>
	<br>

	<fieldset>
        <legend>Interests</legend>
        <div>
          <label><input type="checkbox" name="interests[]" value="Events and Fundraising">Events and Fundraising</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Students' Lives">Students' Lives</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Education">Education</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Facilities">Facilities</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Office/Clerical Work">Office/Clerical Work</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Advocacy">Advocacy</label>
        </div>
        <div>
          <label><input type="checkbox" name="interests[]" value="Other (please describe)">Other (please describe)</label>
          <textarea name="other_interests" rows="3" cols="100"></textarea>
        </div>
      </fieldset>

	<input type="submit" value="Register">
</form>
{% endblock %}
